body {
  font-family: Arial, sans-serif;
  background-color: #fffff0;
  color: #333;
  padding: 20px;
  margin: 0;
}
.ban {
  height: 100vh;
  background: linear-gradient(135deg, #dbe9ff, #e0c3fc);
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ban h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.tagline {
  font-size: 20px;
  margin-bottom:24px;
}

.ban-button {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid black;
  color: #7e29fe;
  border-radius: 5px;
}

.ban-button:hover {
  background:#7e29fe;
  color: white;
}

.aboutme {
  padding: 60px 20px;
  width: 100%;;
  margin: 0 auto;
  text-align: center;
  background-color:#f0f4f8; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
}

.section-title {
  font-size: 32px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.about-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
}

.readbutton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.readbutton:hover {
  background-color: #007bff;
  color: white;
} 
#skills {
  scroll-margin-top: 80px;
}
.skills-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.skill-category {
  flex: 1;
  min-width: 220px;
  background-color: #fcf9e8;
  border-left: 4px solid #f4d03f;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.skill-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.skill-category h4 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.skill-category ul {
  list-style-type: disc;
  padding-left: 20px;
}

.skill-category li {
  padding: 6px 0;
  font-size: 15px;
}
.certification {
  padding: 60px 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f0f4f8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.sec-title {
  font-size: 2.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}
.certification {
  padding: 60px 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #f0f4f8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sec-title {
  font-size: 2.2rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.intro {
  font-size: 1.4rem;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 600px;
}

.rdbutton {
  display: inline-block;
  padding: 10px 22px;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.rdbutton:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
}



#projects {
  scroll-margin-top: 80px;
}
.projects-section {
  padding: 60px 20px;
  background-color:  #e7f1fa;
  text-align: center;
}

.section-title {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project-card {
  display: inline-block;
  width: 250px;
  padding: 20px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease;
  color: #333;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h4 {
  margin: 0;
  font-size: 18px;
  color: #444;
}
#contact {
  scroll-margin-bottom: 60px;
}
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.social-icons a  {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover  {
  transform: scale(1.1);
  color: black; 
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  table tr {
    display: block;
  }

  td {
    display: block;
    width: 100%;
  }

  .skills-section {
    flex-direction: column;
  }
}
